.create-chat-button {
    position: absolute;
    box-shadow: 2px 2px #c6c3c7;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background-color: #679af9;
    bottom: 25px;
    right: 25px;
}