header {
    display: flex;
    height: 90px;
    background-color: #8E24AA;
}

.page-title {
    flex-grow: 1;
    display: flex;
    color: white;
    align-items: center;
    padding-left: 10px;
    font-size: 24px;
}

.menu-button,
.search-button {
    background-color: #8E24AA;
    color: white;
    border: 0;
    flex-basis: 60px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-button:hover,
.search-button:hover {
    background-color: #ab47b2;
}

.menu-button:active,
.search-button:active {
    background-color: rgb(151, 48, 195);
}
.chats-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: auto;
}

.chat {
    display: flex;
    flex-direction: row;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.2s;
}

.chat:hover {
    background-color: rgb(221, 208, 208);
}

.chat:active {
    background-color: rgb(212, 184, 214);
}

.chat-image {
    display: flex;
    flex-basis: 85px;
    align-items: center;
    justify-content: center;
}

.image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.chat-info, .chat-meta {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border-bottom: 1px solid #e7e7e7;
    gap: 10px;
}

.chat-info {
    flex-grow: 1;
}

.last-message, .last-message-time {
    color: #787878;
}

.message-status {
    color: #8E24AA;
    align-self: flex-end;
}

.received-message-status {
    padding: 2px 0 0 0;
    height: 25px;
    width: 30px;
    background-color: #8E24AA;
    align-self: flex-end;
    border-radius: 35%;
    text-align: center;
}

.messages-count {
    color: white;
    font-size: 14px;
}
.create-chat-button {
    position: absolute;
    box-shadow: 2px 2px #c6c3c7;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 0;
    background-color: #f9d667;
    bottom: 25px;
    right: 25px;
    cursor: pointer;
    transition: all 0.2s;
}

.create-chat-button:hover {
    opacity: 0.9;
    transform: scale(1.1);
}

.create-chat-button:active {
    opacity: 1;
    transform: scale(1);
    animation: pulse 0.2s 1 ease-out;
}
html {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #E6E6E6;
}

input[type=submit] {
    visibility: collapse;
}
