header {
    display: flex;
    height: 90px;
    background-color: #8E24AA;
}

.back-button,
.search-button,
.more-button {
    color: white;
    background-color: #8E24AA;
    flex-basis: 80px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s;
}

.back-button:hover,
.search-button:hover,
.more-button:hover {
    background-color: #ab47b2;
}

.back-button:active,
.search-button:active,
.more-button:active {
    background-color: rgb(151, 48, 195);
}

.profile {
    display: flex;
    flex: 1;
    align-items: center;
    column-gap: 20px;
    margin-left: 30px;
}

.profile-image {
    width: 50px;
    height: 50px;
    border-radius: 45px;
    cursor: pointer;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.last-seen {
    color: #CB9CD9;
    font-size: 13px;
}
.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    flex-basis: 90px;
    overflow-y: auto;
    animation: right-message-scale 0.5s;
}

.message {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px 20px 20px 20px;
    margin: 8px;
    word-break: break-word;
}

.message-text {
    font-size: 16px;
}

.message-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-end;
}

.message-time {
    color: #A8A8A8;
    font-size: 13px;
    align-self: flex-end;
    padding: 0 0 4px;
}

.message-status {
    color: #8E25AA;
}

@keyframes message_animation{
    from {
        transform: scale(0);
        transform-origin: bottom right;
    }

    to {
        transform: scale(1);
        transform-origin: bottom right;
    }
}

.left {
    height: 60px;
    align-self: flex-start;
    background-color: white;
    border: 1px solid #FAFAFA;
}

.right {
    height: 60px;
    align-self: flex-end;
    background-color: #F3E5F5;
    border: 1px solid #DCD8DD;
    animation: message_animation 0.3s;
}
form {
    height: 60px;
    display: flex;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.form-input {
    flex: 1;
    font-size: 16px;
    font-family: "Rubik";
    padding: 20px;
}

.attachment-button {
    color: #757575;
    border: 0;
    padding-right: 20px;
    background-color: white;
    cursor: pointer;
    transition: opacity 0.2s, color 0.2s;
}

.attachment-button:hover {
    opacity: 0.8;
}

.attachment-button:active {
    opacity: 0.8;
    color: #aa00ff;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}
html {
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: #E6E6E6;
}

input[type=submit] {
    visibility: collapse;
}
