.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
    flex-basis: 90px;
    overflow-y: auto;
}

.message {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding: 16px 20px 20px 20px;
    margin: 8px;
    word-break: break-word;
}

.message-text {
    font-size: 16px;
}

.message-info {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-self: flex-end;
}

.message-time {
    color: #A8A8A8;
    font-size: 13px;
    align-self: flex-end;
    padding: 0 0 4px;
}

.message-status {
    color: #8E25AA;
}

.left {
    height: 60px;
    align-self: flex-start;
    background-color: white;
    border: 1px solid #FAFAFA;
}

.right {
    height: 60px;
    align-self: flex-end;
    background-color: #F3E5F5;
    border: 1px solid #DCD8DD;
}