form {
    height: 60px;
    display: flex;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.form-input {
    flex: 1;
    font-size: 16px;
    font-family: "Rubik";
    padding: 20px;
}

.attachment-button {
    color: #757575;
    border: 0;
    padding-right: 20px;
    background-color: white;
    cursor: pointer;
    transition: opacity 0.2s, color 0.2s;
}

.attachment-button:hover {
    opacity: 0.8;
}

.attachment-button:active {
    opacity: 0.8;
    color: #aa00ff;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}