.form {
    height: 60px;
    display: flex;
    border: 1px solid rgba(25, 25, 25, 0.32);
}

.form-input {
    flex: 1;
    font-size: 16px;
    padding: 20px;
}

.attachment-button {
    color: #757575;
    border: 0;
    padding-right: 20px;
    background-color: white;
}

input {
    border: 0;
    outline: none;
    width: calc(100% - 2px);
}