header {
    display: flex;
    height: 90px;
    background-color: #8E24AA;
}

.back-button,
.search-button,
.more-button {
    color: white;
    background-color: #8E24AA;
    flex-basis: 80px;
    border: 0;
}

.profile {
    display: flex;
    flex: 1;
    align-items: center;
    column-gap: 20px;
    margin-left: 30px;
}

.profile-image {
    width: 40px;
    height: 50px;
    border-radius: 45px;
}

.profile-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.name {
    color: white;
    font-size: 20px;
    font-weight: 400;
}

.last-seen {
    color: #CB9CD9;
    font-size: 13px;
}